<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <!--包扫描，以完成Bean创建和自动依赖注入的功能 -->
    <context:component-scan base-package="com.app.controller"/>

    <!-- 启动Spring MVC的注解,完成请求和注解POJO的映射-->
    <mvc:annotation-driven/>

    <!--配置多个视图模式-->
    <!--<import resource="classpath:view-resolver.xml" />-->

    <!--配置单个视图模式-->
    <!-- 以下三种视图配置根据需要任选一种即可 -->

    <!--  1. jsp视图解析器,InternalResource视图解析器 -->
    <!--
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    -->

    <!-- 2.1 FreeMarker视图解析器 -->
    <!--&lt;!&ndash;-->
    <bean id="viewResolver"
    class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="cache" value="true" />
        <property name="prefix" value="" />
        <property name="suffix" value=".ftl" />
        <property name="order" value="1"/>
        <property name="contentType" value="text/html;charset=UTF-8" />
        <property name="requestContextAttribute" value="request" />
        <property name="exposeSpringMacroHelpers" value="true" />
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
    </bean>
    <!--&ndash;&gt;-->
     <!--2.2 FreeMarker的配置,也可以放置在applicationContext.xml中 -->
    <!--&lt;!&ndash;-->
    <bean id="freemarkerConfig"
    class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/views/" />
        <property name="freemarkerSettings">
        <props>
            <prop key="template_update_delay">0</prop>
            <prop key="default_encoding">UTF-8</prop>
            <prop key="number_format">0.##########</prop>
            <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
            <prop key="classic_compatible">true</prop>
            <prop key="template_exception_handler">ignore</prop>
        </props>
        </property>
    </bean>
    <!--&ndash;&gt;-->
    <!-- 2.3 也可以从设置的freeMarker的配置文件中读取属性，freemarker.properties文件在resources目录下创建，内容示例如下：-->
    <!--
           tag_syntax=auto_detect
           template_update_delay=2
           default_encoding=UTF-8
           output_encoding=UTF-8
           locale=zh_CN
           date_format=yyyy-MM-dd
           time_format=HH:mm:ss
           datetime_format=yyyy-MM-dd HH:mm:ss
    -->
    <!--
    <bean id="freemarkerConfiguration" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:freemarker.properties"/>
    </bean>
    -->

    <!-- 3.这个是针对返回视图还是json值的视图配置,来分别处理同步和异步请求 -->
    <!--
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="mediaTypes">
            <map>
                <entry key="html" value="text/html"/>
                <entry key="json" value="application/json"/>
            </map>
        </property>
        <property name="favorParameter" value="true"/>
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
                <bean id="viewResolver"
                      class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
                    <property name="cache" value="true"/>
                    <property name="prefix" value=""/>
                    <property name="suffix" value=".ftl"/>
                    <property name="contentType" value="text/html;charset=UTF-8"></property>
                    <property name="requestContextAttribute" value="request"/>
                    <property name="exposeSpringMacroHelpers" value="true"/>
                    <property name="exposeRequestAttributes" value="true"/>
                    <property name="exposeSessionAttributes" value="true"/>
                </bean>
            </list>
        </property>
        <property name="defaultContentType" value="text/html"/>
    </bean>
    -->

    <!--百度UEditor支持-->
    <!--
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/ueditor/jsp/"/>
    <property name="suffix" value=".jsp"/>
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>
    -->
    <!-- 拦截器 -->
    <!--
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*/**"/>
            <bean class="com.app.interceptors.DebugLogInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/user/**"/>
            <mvc:mapping path="/group/**"/>
            <mvc:mapping path="/groupalbum/**"/>
            <mvc:mapping path="/message/**"/>
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/user/c/mobile"/>
            <mvc:exclude-mapping path="/user/c/email"/>
            <bean class="com.app.interceptors.LoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
    -->
    <!-- 对静态资源文件的访问 方案一 （二选一） -->
    <!--<mvc:default-servlet-handler />-->
    <!-- 对静态资源文件的访问  方案二 （二选一）-->
    <!--
    <mvc:resources mapping="/images/**" location="/images/" cache-period="31556926"/>
    <mvc:resources mapping="/js/**" location="/js/" cache-period="31556926"/>
    <mvc:resources mapping="/css/**" location="/css/" cache-period="31556926"/>
    <mvc:resources mapping="/ueditor/**" location="/ueditor/"
    cache-period="31556926"/>
    -->

</beans>